In [1]:
#Install Selenium Library
!pip install selenium

Collecting selenium
  Downloading selenium-4.6.0-py3-none-any.whl (5.2 MB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\sajad\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sajad\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.1-py3-none-any.whl (12 kB)
Requirement already satisfied: sniffio in c:\users\sajad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\sajad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\sajad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\sajad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sajad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\sajad\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sajad\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.0.1 h11-0.14.0 outcome-1.2.0 selenium-4.6.0 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [266]:
import selenium # ForSelenium
from selenium import webdriver # Library for opening automated chrome Window
import pandas as pd # For Pandas
from selenium.webdriver.common.by import By# For inbuilt class by
import warnings
warnings.filterwarnings('ignore') # for suppressing warnings
import time  # for time usage of search engine
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import time
import requests
import re

In [336]:
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path='chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                    'Chrome/85.0.4183.102 Safari/537.36'})

{}

#For connecting to Webdriver
driver= webdriver.Chrome(r'C:\Users\sajad\Downloads\chromedriver_win32\chromedriver.exe')

In [135]:
#driver.maximize_window() # for Maximizing the Chrome Window

## 1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [136]:
url = 'https://www.naukri.com/'
driver.get(url)

In [137]:
# search job Data Analyst

search_job= driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job.send_keys('Data Analyst')

In [138]:
location= driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [139]:
search_btn=driver.find_element(By.XPATH,'//*[@id="root"]/div[7]/div/div/div[6]')
search_btn.click()

In [147]:
# EXTRACTING 'JOB_TITLE' DATA

# now we extract 'job_title' data from web element
#//*[@id="root"]/div[4]/div/section[2]/div[2]/article[1]/div[1]/div[1]/a

job = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

Job_title= []      # store job_title's all element in this  variable 
for i in job :
    Job_title.append(i.text)
    
#Job_title[2]

job_title = Job_title[0:10]
job_title

['Data Analyst',
 'APRP Manager / Senior Data Analyst - MeritTrac Services',
 'Sr Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Analyst - PLM Data Migration',
 'People Data Analyst',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst']

In [149]:
#EXTRACTING 'COMPANY_NAME' DATA

corp = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

Company_name = []
for i in corp:
    Company_name.append(i.text)
    
#print(Company_name[2])
len(Company_name)

company_name= Company_name[0:10]
company_name

['Cargill',
 'MeritTrac',
 'Inspira Enterprise India Pvt. Ltd.',
 'Wells Fargo',
 'CGI',
 'Western Digital',
 'Clarivate',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture']

In [150]:
#EXTRACTING 'LOCATION' DATA

# # now we extract 'location' data from web element

locat = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

Location = []      # store loacte's elements in this variable by run for_loop
for i in locat:
#    print(i.text)
    Location.append(i.text)
    
print(Location[2])
len(Location)

location= Location[0:10]

Bangalore/Bengaluru

In [151]:
#EXTRACTING 'EXPERIANCE' DATA

#now we extract 'experiance' data from web element

exe = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

Experience = []      # store exe's elements in this variable by run ( for loop)
for i in exe:
    Experience.append(i.text)
    
print(Experience[2])

experience= Experience[0:10]
len(Experience)

3-4 Yrs

20

In [153]:
pd.DataFrame({'Job_title':job_title,'Company_name':company_name,'Location':location,'Experience':experience})

,Job_title,Company_name,Location,Experience
0,Data Analyst,Cargill,Bangalore/Bengaluru,3-5 Yrs
1,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac,Bangalore/Bengaluru,9-14 Yrs
2,Sr Data Analyst,Inspira Enterprise India Pvt. Ltd.,Bangalore/Bengaluru,3-4 Yrs
3,Senior Data Management Analyst,Wells Fargo,Bangalore/Bengaluru,5-7 Yrs
4,Senior Data Analyst - PLM Data Migration,CGI,Bangalore/Bengaluru,3-6 Yrs
5,People Data Analyst,Western Digital,Bangalore/Bengaluru,6-8 Yrs
6,Associate Healthcare Research & Data Analyst,Clarivate,Bangalore/Bengaluru,3-4 Yrs
7,Lead Data Analyst,Mobile Premier League (MPL),Bangalore/Bengaluru,4-7 Yrs
8,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,5-8 Yrs
9,Master Data Management Business Analyst,Accenture,Bangalore/Bengaluru,6-8 Yrs

## 2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [155]:
driver.get('https://www.naukri.com/')

In [156]:
#Searching of Data Scientist
driver.find_element(By.CLASS_NAME,'suggestor-input').send_keys('Data Scientist')

In [158]:
# For typing 'BANGALORE ' Location  by coding

driver.find_element(By.XPATH,'//*[@id="root"]/div[7]/div/div/div[5]/div/div/div/input').send_keys('Bangalore')

In [162]:
search_btn = driver.find_element(By.XPATH,'//*[@id="root"]/div[7]/div/div/div[6]')

search_btn.click()

In [163]:
job= driver.find_elements(By.XPATH, '//a[@class= "title fw500 ellipsis"]')

Job_title= []
for i in job:
    Job_title.append(i.text)

Job_title= Job_title[0:10]
#print(Job_title[2])
len(Job_title)

Senior Data Scientist

10

In [165]:
# EXTRACTING  'COMPANY_NAME' DATA from web element

company= driver.find_elements(By.XPATH, '//a[@class= "subTitle ellipsis fleft"]')

company_name= []    

for i in company:
    company_name.append(i.text)

company_name= company_name[0:10]
#print(company_name[0])
len(company_name)

Accenture

10

In [166]:
# 'lOCATION' DATA 
locat= driver.find_elements(By.XPATH, '//li[@class= "fleft grey-text br2 placeHolderLi location"]')

LOCATION= []    #  store data in this variable by runing  for_loop
for i in locat:
    LOCATION.append(i.text)

LOCATION= LOCATION[0:10]
print(LOCATION[1])
len(LOCATION)

Hybrid - Bangalore/Bengaluru, Mumbai, Pune

10

In [167]:
pd.DataFrame({'Job_title':Job_title,'Location':LOCATION,'company_name':company_name})

,Job_title,Location,company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech
2,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai",Wipro
3,"Program Manager, Analytics",Bangalore/Bengaluru,Uber
4,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
8,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes

## 3.Naukri.com Location and Salary Filter

In [185]:
driver.get('https://www.naukri.com/')

In [186]:
driver.find_element(By.CLASS_NAME,'suggestor-input').send_keys('Data Scientist')

In [187]:
search= driver.find_element(By.XPATH,'//div[@class= "qsbSubmit"]')
search.click()

In [188]:

loc= driver.find_element(By.XPATH,'//*[@id="root"]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
loc.click()

In [189]:

driver.find_element(By.XPATH,'//*[@id="root"]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]').click()

In [214]:
#Job Title
title = driver.find_elements(By.XPATH,'//a[@class= "title fw500 ellipsis"]')


job_title= []
for i in title:
    #print(i.text)
    job_title.append(i.text)
job_title = job_title[0:10]

len(job_title)

10

In [216]:
#Salary

exp= driver.find_elements(By.XPATH,'//span[@class= "ellipsis fleft fs12 lh16 "]')

data= []
for i in exp:
    #print(i.text)
    data.append(i.text)
data
data =data[0:10]
len(data)

10

In [218]:
#Location
loc= driver.find_elements(By.XPATH,'//span[@class= "ellipsis fleft fs12 lh16 locWdth"]')

locdata= []
for i in loc:
    #print(i.text)
    locdata.append(i.text)
locdata=locdata[0:10]
len(locdata)

10

In [219]:
#company name

corp = driver.find_elements(By.XPATH,'//a[@class= "subTitle ellipsis fleft"]')

company_name= []
for i in corp:
#    print(i.text)
    company_name.append(i.text)
company_name= company_name[0:10]
company_name

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'Wegarner Solutions',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH']

In [212]:
#Experience
#ellipsis fleft fs12 lh16 expwdth

exp = driver.find_elements(By.XPATH,'//span[@class= "ellipsis fleft fs12 lh16 expwdth"]')

exp_= []
for i in exp:
#    print(i.text)
    exp_.append(i.text)
exp_= exp_[0:10]
exp_

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '3-6 Yrs',
 '2-3 Yrs']

In [220]:
pd.DataFrame({'Job Title':job_title,'Experience':exp_,'Company Name':company_name,'Location Data':locdata,'Salary':data})

,Job Title,Experience,Company Name,Location Data,Salary
0,Data Scientist,4-9 Yrs,HCLTech,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",Not disclosed
1,DigitalBCG GAMMA Data Scientist,2-5 Yrs,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",Not disclosed
2,Urgent hiring For Data Scientist (PHD Must Have),0-4 Yrs,NGI Ventures,"Temp. WFH - Noida, Pune",Not disclosed
3,Manager - Data Science - Banking&Financial Ser...,4-8 Yrs,Black Turtle,"Delhi / NCR, Bangalore/Bengaluru",Not disclosed
4,Data Scientist / Sr. Data Scientist,3-8 Yrs,Wegarner Solutions,Temp. WFH - Noida,Not disclosed
5,Data Scientist,2-7 Yrs,torcai digital media,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",Not disclosed
6,Data Scientist,2-5 Yrs,Meon Technologies,Noida,"3,00,000 - 6,00,000 PA."
7,Data Scientist,3-4 Yrs,Alliance Recruitment Agency,Noida,Not disclosed
8,Data scientist- Python,3-6 Yrs,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,Not disclosed
9,Data Scientist,2-3 Yrs,Razor Group GmbH,New Delhi,Not disclosed

## 4.Scrape data of first 100 sunglasses listings on flipkart.com

In [222]:
# connect to webdriver
#driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get("https://www.flipkart.com/")
time.sleep(2)
driver.maximize_window()

In [93]:
#Closing the login subscreen
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
search_btn.click()

In [94]:
#Typing unglass
brand= driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
brand.send_keys('Sunglasses')

In [95]:
#search for Sunglasses
srch_sungls=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
srch_sungls.click()

In [96]:
#Brand Iteration for 1-40
sun_brand= driver.find_elements(By.CLASS_NAME,'_2WkVRV')

Brand= []
for i in sun_brand:
    Brand.append(i.text)
len(Brand)

40

In [97]:
#Clicking next page

clk_next=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
clk_next.click()

In [98]:
#Brand Iteration for 41-80
sun_brand1= driver.find_elements(By.CLASS_NAME,'_2WkVRV')


for i in sun_brand1:
    Brand.append(i.text)
len(Brand)

80

In [99]:
#Clicking next page
clk_next=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
clk_next.click()

In [100]:
##Brand Iteration for 81-100
sun_brand2= driver.find_elements(By.CLASS_NAME,'_2WkVRV')

j=0
for i in sun_brand2:
    Brand.append(i.text)
    j+=1
    if j==20:
        break
len(Brand)

100

In [101]:
Brand

['PIRASO',
 'RESIST EYEWEAR',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'SRPM',
 'RED MONK',
 'Fastrack',
 'New Specs',
 'PIRASO',
 'Resist',
 'SRPM',
 'Sewell',
 'SUNBEE',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'Silver Kartz',
 'PIRASO',
 'Elligator',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'ARICKS',
 'ROYAL SON',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'DEIXELS',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Urbanic',
 'PIRASO',
 'ROYAL SON',
 'Satyam Kraft',
 'GANSTA',
 'ARICKS',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'GANSTA',
 'Urbanic',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Rich Club',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'Lee Topper',
 'IDEE',
 'OCHILA',
 'PC STAR',
 'kingsunglasses',
 'IDEE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'DEXENT COLLECTION',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Fastrack',
 'Silver Kartz',
 'PIRASO',
 'PIRASO',
 'MODE',
 'GANSTA',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack']

In [108]:
#ge-49M
# Home Click
clk_home=driver.find_element(By.CLASS_NAME,'ge-49M')
clk_home.click()

In [109]:
#Description 1-40


sun_brand_desc= driver.find_elements(By.CLASS_NAME,'IRpwTa')

Brand_desc= []
for i in sun_brand_desc:
    Brand_desc.append(i.text)
len(Brand_desc)

40

In [111]:
#Clicking next page
clk_next=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
clk_next.click()

In [112]:
sun_brand_desc1= driver.find_elements(By.CLASS_NAME,'IRpwTa')
#41-80 desc
#Brand_desc= []
for j in sun_brand_desc1:
    Brand_desc.append(j.text)
len(Brand_desc)

#Clicking next page
clk_next=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
clk_next.click()

In [113]:
len(Brand_desc)

80

In [114]:

#81-100
sun_brand_desc2= driver.find_elements(By.CLASS_NAME,'IRpwTa')
m=0
#Brand_desc= []
for k in sun_brand_desc2:
    Brand_desc.append(k.text)
    m+=1
    if m==20:
        break
len(Brand_desc)

100

In [115]:
Brand_desc

['UV Protection Retro Square Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Over-sized Sunglasses (60)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Others Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (62)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Wayfarer, Aviator Sunglasses (88)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized Retro Square Sunglasses (47)',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (52)',
 'Gradient, UV Protection Round, Oval, Cat-eye Sunglasses...',
 'Others Spectacle Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (18)',
 'UV Protection Aviator Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized, Riding Glasses, UV Protection Wayfarer Sungl...',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'Toughened Glass Lens, UV Protection, Riding Glasses, Ph...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized Wrap-around Sunglasses (45)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (56)']

In [116]:
clk_home=driver.find_element(By.CLASS_NAME,'ge-49M')
clk_home.click()

In [127]:
#Extracting Price 
p1 = driver.find_elements(By.CLASS_NAME, "_30jeq3")
Price=[]
l=0
for i in p1:
    Price.append(i.text)
    l+=1
    if l==40:
        break
    
len(Price)

40

In [128]:
#Clicking next page
clk_next=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
clk_next.click()

In [129]:
p2 = driver.find_elements(By.CLASS_NAME, "_30jeq3")

l=0
for i in p2:
    Price.append(i.text)
    l+=1
    if l==40:
        break
    
len(Price)

80

In [130]:
p3 = driver.find_elements(By.CLASS_NAME, "_30jeq3")

l=0
for i in p3:
    Price.append(i.text)
    l+=1
    if l==20:
        break
    
len(Price)

100

In [131]:
#printing on a DataFramabse
pd.DataFrame({'Brand':Brand,'Description':Brand_desc, 'Price':Price})

             Brand                                        Description Price
0           PIRASO         UV Protection Retro Square Sunglasses (60)  ₹404
1   RESIST EYEWEAR  UV Protection Retro Square Sunglasses (Free Size)  ₹474
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹649
3         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹519
4         Fastrack          UV Protection Rectangular Sunglasses (52)  ₹199
..             ...                                                ...   ...
95  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹359
96          PIRASO              Polarized Wrap-around Sunglasses (45)  ₹466
97       ROYAL SON           UV Protection Clubmaster Sunglasses (53)  ₹251
98  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹220
99        Fastrack          UV Protection Rectangular Sunglasses (56)  ₹251

[100 rows x 3 columns]

## 5 Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [223]:


#https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [316]:
# get webpage
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")
time.sleep(2)
#driver.maximize_window()

In [319]:
# scrapping first 10 Product rating because next button is different
rating_tag=[]
start=0
end=2
for page in range(start,end):
    rat=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rat:
        rating_tag.append(i.text)
        
        
# scrapping first 10 Product summary because next button is different        
review_summ=[]
start=0
end=2
for page in range(start,end):
    rev=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev:
        review_summ.append(i.text)
        
# scrapping first 10 Product comment because next button is different
comments=[]
start=0
end=2
for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in com:
        comments.append(i.text)

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()                     
    time.sleep(5)

In [323]:
#Review 2-20
driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span').click()

In [324]:
#rating_tag=[]
start=0
end=2
for page in range(start,end):
    rat=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rat:
        rating_tag.append(i.text)
        
        
# scrapping first 10 Product summary because next button is different        
#review_summ=[]
start=0
end=2
for page in range(start,end):
    rev=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev:
        review_summ.append(i.text)
        
# scrapping first 10 Product comment because next button is different
#comments=[]
start=0
end=2
for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in com:
        comments.append(i.text)

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()                     
    time.sleep(5)

In [325]:
#first 20 products
len(review_summ),len(comments),len(rating_tag)

(40, 40, 40)

In [326]:
# creating dataframe
df=pd.DataFrame({'Ratings':rating_tag,'Review summary':review_summ,'Full review':comments})
df.head()

,Ratings,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...

## 6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [328]:
driver.get("https://www.flipkart.com/")

In [330]:
#Closing the login subscreen
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
search_btn.click()

In [331]:
driver.find_element(By.CLASS_NAME,'_3704LK').send_keys('sneakers')

In [333]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [334]:
# scrapping first 100 Brand Names
Brand_names=[]
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand_names.append(i.text)   

# scrapping first 100 shoe discription
Product_dist=[]
start=0
end=3
for page in range(start,end):
    prod=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod:
        Product_dist.append(i.text)
    prod=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')    
    for j in prod:
        Product_dist.append(i.text)


# scrapping first 100 shoe price
shoe_price=[]
start=0
end=3
for page in range(start,end):
    shoe=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in shoe:
        shoe_price.append(i.text)


# scrapping first 100 shoe discount
discount_tag=[]
start=0
end=3
for page in range(start,end):
    dis=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in dis:
        discount_tag.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [335]:
# creating dataframe
df=pd.DataFrame({'Brand':Brand_names,'Product Description':Product_dist,'Price':shoe_price,'Discounts':discount_tag})
df.head(100)

,Brand,Product Description,Price,Discounts
0,Perma,Sneakers For Men,₹570,61% off
1,Kraasa,Sneakers For Men,₹499,50% off
2,RED TAPE,Sneakers For Men,"₹1,149",77% off
3,Labbin,Sneakers For Men,₹395,60% off
4,Robbie jones,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹349,65% off
...,...,...,...,...
95,aadi,"Trendy-21 White Color Change Sneakers,Casuals,...",₹299,85% off
96,PUMA,fuzor B Sneakers For Men,"₹2,279",62% off
97,asian,Sneakers For Women,₹599,65% off
98,asics,Vega Sweet v2 Sneakers For Women,"₹1,427",62% off
99,Deals4you,Morden Comfertable Sneakers For Men,₹363,63% off

## 7. Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And

In [337]:
#open the link 
url='https://www.myntra.com/shoes'
driver.get(url)

In [338]:
# filtering by price

sal_fil=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
sal_fil.click()

In [339]:
# filtering by black color

sal_fil=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
sal_fil.click()

In [340]:
# 100 product names
Brand_names=[]
start=0
end=2
for page in range(start,end):
    rat=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in rat:
        Brand_names.append(i.text)
        
## scrapping 100 product       
discription=[]
start=0
end=2
for page in range(start,end):
    rev=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in rev:
        discription.append(i.text)
        
# 100 product price
price=[]
start=0
end=2
for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in com:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(5)

In [341]:
# creating dataframe
df=pd.DataFrame({'Brand':Brand_names,'Product Description':discription,'Price':price})
df.head()

          Brand             Product Description                        Price
0          Nike         JORDAN MAX AURA 4 Shoes  Rs. 10165Rs. 11295(10% OFF)
1  UNDER ARMOUR  Men HOVR SonicSE Running Shoes                     Rs. 9999
2  UNDER ARMOUR  Men ChargedEscape 3 BL Running                     Rs. 8999
3          Nike  JORDAN ZION 2 Basketball Shoes   Rs. 9175Rs. 10795(15% OFF)
4          Nike  AIR ZOOM G.T. Basketball Shoes  Rs. 13595Rs. 15995(15% OFF)

## 8 Go to webpage https://www.amazon.in/, Enter “Laptop” in the search field and then click the search icon, Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [268]:
driver.get('https://www.amazon.in/')

In [270]:
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').send_keys('Laptop')

In [272]:
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [275]:
# we select 'i7 processor'  option of laptop 

i7= driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
i7.click()

In [278]:
#Names
tit= driver.find_elements(By.XPATH,'//span[@class= "a-size-medium a-color-base a-text-normal"]')

t1= []
title= []
for i in tit:
    t1.append(i.text)
t1

['Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'HP Victus 12th Gen Intel Core i7 15.6 inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/RTX 3050Ti 4GB Graphics/144Hz/9ms Response Time/Win 11/MSO/Backlit KB/B&O Audio/XBOX Pass(30 day)),15-fa0354TX',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 4 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 300Hz, Intel Core i7-12700H 12th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Gray/2.2 Kg), FX507ZM-HF068WS',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 8 GB Ram & 256 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 32 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 'Lenovo ThinkBook 15 Intel 12th Gen Core i7 15.6" (39.62cm) FHD 250 nits Antiglare Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit/Mineral Grey/1.7 Kg), 21DJA04NIH',
 'Lenovo IdeaPad Flex 5 Intel Core i7 11th Gen 14" (35.56cm) FHD IPS 2-in-1 Convertible Touchscreen Laptop (16GB/512GB SDD/Win11/Office 2021/Backlit/FPR/3months Game Pass/Graphite Grey/1.5Kg),82HS018XIN',
 '(Renewed) Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 inch(33cm) FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows11/Office/Iris Xe Graphics/Backlit/Fingerprint Reader/White/878gm)4ZR1K06212 w/ Sleeve',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 32 GB Ram & 1TB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/500 GB HDD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 '(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch (31.75 cms) HD (1366 X 768) Laptop (8 GB/256 GB SSD/Windows 10/Intel HD 5500//1.53 Kg), Lenovo X250',
 '(Renewed) HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/1TB HDD+128GB SSD/Windows 10/MS Office/1 Yr Onsite/1.7 Kg), 20VEA0HBIH',
 'Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen 15.6"(39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 11/Backlit Keyboard/3months Game Pass/Onyx Black/2.2Kg), 81Y401BHIN',
 'Acer Nitro Intel 5 Core i7 11th Gen 15.6" (39.62cms) Full HD IPS Gaming Laptop 16 GB/256GB SSD/1 TB HDD/Win 11/4 GB Graphics/NVIDIA GeForce RTX 3050 Ti/144 Hz, Black, 2.4 kg AN515-57, Windows 11 Home',
 '(Renewed) LifeDigital Intel Core i7 15.6 inches Laptop (4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7, 1.8Kg',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 16 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) Dell 7480 Intel Core i7 14-Inch (35.56 cms) Full HD (1920 X 1080) Laptop (16 GB/256 SSD/Windows 10 Pro/Integrated_graphics/Black/2.16 Kg), TFJ45',
 'MSI Modern 14, Intel i7-1165G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Intel UHD Graphics/Carbon Grey/1.3Kg), B11MOU-473IN',
 '(Renewed) Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /3months Xbox Game Pass/Graphite Grey/1.5Kg), 82HS018XIN']

In [279]:
for n in t1:
    title.append(n[0:20])

In [281]:
price = driver.find_elements(By.XPATH,'//span[@class= "a-price-whole"]')

Price= []
for i in price:
    Price.append(i.text)

In [282]:
df= pd.DataFrame({'Title':title, 'Price':Price, })
df[0:10]

                  Title     Price
0  Lenovo IdeaPad Slim     83,990
1  HP Pavilion x360 11t    80,490
2  (Renewed) HP ProBook    25,895
3  HP Victus 12th Gen I    97,500
4  Lenovo ThinkBook 15     77,990
5  (Renewed) HP Worksta    21,990
6  (Renewed) ASUS TUF G  1,02,240
7  (Renewed) HP Worksta    25,990
8  (Renewed) HP Worksta    41,990
9  Lenovo ThinkBook 15     86,490

## 9 Write a python program to scrape data for Top 1000 Quotes of All Time.

In [290]:
driver.get('https://www.azquotes.com/')

In [291]:
#Top Quotes click

driver.find_element(By.XPATH,'//*[@id="menu"]/div/div[3]/ul/li[5]/a').click()

In [294]:
# scrapping 1000 qoute
title_tag=[]
start=0
end=10
for page in range(start,end):
    rat=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in rat:
        title_tag.append(i.text)
        
## scrapping 1000 author     
author_summ=[]
start=0
end=10
for page in range(start,end):
    rev=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in rev:
        author_summ.append(i.text)
        
# scrapping 1000 type of qoute
tag=[]
start=0
end=10
for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in com:
        tag.append(i.text)

# next button        
start=0
end=9
for page in range(start,end):    
    next_button=driver.find_element(By.XPATH,'(//li[@class="next"])[2]')
    next_button.click()
    time.sleep(5)

In [295]:
len(title_tag),len(author_summ),len(tag)

(1000, 1000, 1000)

In [296]:
#createing dataframe
df=pd.DataFrame({'Quote':title_tag,'Author':author_summ,'Type Of Quote':tag})
df

,Quote,Author,Type Of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
998,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

## Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

In [298]:
#open the link 
url='https://www.jagranjosh.com/'
driver.get(url)

In [299]:
#filter
filter_btn=driver.find_element(By.XPATH,'(//a[@href="/general-knowledge?ref=nav_dd"])[2]')
filter_btn.click()

In [300]:
#filter
filter_btn=driver.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]')
filter_btn.click()

In [301]:
#name
Name=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

for name in names:

    Name.append(name.text)

In [302]:
#born-dead
bo_de=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')

for name in names:

    bo_de.append(name.text)

In [303]:
# Term of office
term=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')

for name in names:

    term.append(name.text)

In [304]:
#remark
remark=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')

for name in names:

    remark.append(name.text)

In [305]:
#creating dataframe
df=pd.DataFrame({'Name':Name,'Born-Dead':bo_de,'Remarks':remark})
df

,Name,Born-Dead,Remarks
0,Jawahar Lal Nehru,(1889–1964),The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),-
4,Indira Gandhi,(1917–1984),First female Prime Minister of India
5,Morarji Desai,(1896–1995),Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),------
15,Atal Bihari Vajpayee,(1924-2018),The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),First Sikh PM
17,Narendra Modi,(born 1950),4th Prime Minister of India who served two con...

## Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/

In [307]:
#open the link 
url='https://www.motor1.com/'
driver.get(url)

In [309]:
#filter 
filter_btn=driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
filter_btn.click()

In [310]:
#filter 
filter_btn=driver.find_element(By.XPATH,'(//a[@href="/features/category/lists/"])[2]')
filter_btn.click()

In [311]:
#filter
filter_btn=driver.find_element(By.XPATH,'(//a[@href="/features/308149/most-expensive-new-cars-ever/"])[2]')
filter_btn.click()

In [312]:
# scrapping 50 company name with price
car_price=[]
comp_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/ul')
for i in comp_tags[0:50]:
    car_price.append(i.text)

In [313]:
print('List of all Car Company with Price :',*car_price, sep='\n\n' )

List of all Car Company with Price :

Drako GTE - $1.2 Million
DeTomaso P72: $1.3 Million
Ferrari LaFerrari - $1.4 Million
Pagani Huayra - $1.4 Million
Czinger 21C - $1.7 Million
Ferrari Monza - $1.7 Million
Gordon Murray T.33 - $1.7 Million
Koenigsegg Gemera - $1.7 Million
McLaren Elva - $1.7 Million
Zenvo TSR-S - $1.7 Million
Hennessey Venom F5 - $1.8 Million
Bentley Bacalar - $1.9 Million
Hispano Suiza Carmen Boulogne: $1.9 Million
Bentley Mulliner Batur: $2.0 Million
Deus Vayanne: $2.0 Million
SSC Tuatara - $2.0 Million*
Lotus Evija - $2.1 Million
Aston Martin Vulcan - $2.3 Million
Delage D12: $2.3 Million
McLaren Speedtail - $2.3 Million
Rimac Nevera - $2.4 Million
Pagani Utopia: $2.5 Million
Pininfarina Battista - $2.5 Million
Ferrari FXX K Evo - $2.6 Million
Gordon Murray T.50 - $2.6 Million
Lamborghini Countach - $2.6 Million
Mercedes-AMG Project One - $2.7 Million
Aston Martin Victor - $3.0 Million
Hennessey Venom F5 Roadster: $3.0 Million
Koenigsegg Jesko - $3.0 Million
Aston Martin Valkyrie - $3.2 Million
W Motors Lykan Hypersport - $3.4 Million
McLaren Solus: $3.5 Million
Pagani Huayra Roadster BC - $3.5 Million
Bugatti Chiron Pur Sport - $3.6 Million
Lamborghini Sian - $3.6 million
Koenigsegg CC850: $3.7 Million
Bugatti Chiron Super Sport 300+ - $3.9 Million
Lamborghini Veneno - $4.5 Million
Bugatti Bolide - $4.7 Million
Bugatti Mistral: $5.0 Million
Pagani Huayra Imola: $5.4 Million
Bugatti Divo - $5.8 Million
SP Automotive Chaos - $6.4 Million
Pagani Codalunga: $7.4 Million
Mercedes-Maybach Exelero - $8.0 Million
Bugatti Centodieci - $9.0 Million
Rolls-Royce Sweptail - $12.8 Million
Bugatti La Voiture Noire - $13.4 Million
Rolls-Royce Boat Tail - $28.0 Million*